
@import 'mixins/vendor-prefix';
@import 'parts/header';
@import 'parts/auth-window';
@import 'parts/footer';
@import 'variables';

//styles for private cabinet
.wrapper-bg{
	padding: 30px;
	position: relative;
	margin-top:-50px;
	margin-bottom: 15px;
	background: #fff;
	@include vendor-prefix('box-shadow', '3px 3px 5px 0px rgba(0,0,0,0.25)');
	.edit-profile{
		font-size: 25px;
		position: absolute;
		top: 20px;
		right: 20px;
		color: #b7c2ce;
		&:hover{
			color:black;
			cursor: pointer;
		}
	}
	.user-name{
		border-bottom: 1px solid $bordercolor;
		padding-bottom: 20px;
		font-size: 24px;
		word-wrap: break-word;
		//max-width: 70%;
		color: #262626;
		margin:0 auto 20px 0;
		text-align: center;
		letter-spacing: 2px;
	}
	.wrapper-user-info{
		overflow: hidden;
		padding-bottom: 20px;
		.user-photo{
			float: left;
			//margin: auto;
			margin-right: 35px;
			width: 150px;
			background: #242321;
			//@include vendor-prefix('border-radius','200px');
			//@include vendor-prefix('box-shadow', '3px 4px 5px 0px rgba(0,0,0,0.75)');
			.user-avatar{
				width: 150px;
				height: 150px;
				max-width: 100%;
				@include vendor-prefix('background-size','cover');
			}
		}
		.user-info{
			float: left;
			font-size: 18px;
			ul{
				display: inline-block;
				li{
					letter-spacing: 1px;
					color: #b7c2ce;
					padding-bottom: 13px;
					.icon-info{
						padding-right: 7px;
					}
					.key{
						margin-left: 5px;
						color: black;
						font-weight: bold;
					}
				}
			} 
		}
	}
	.user-achievments{
		letter-spacing: 1px;
		color: #D59F53;
		font-size: 18px;
		padding-top: 5px;
		text-align: center;
		border-top: 1px solid $bordercolor;

		ul{
			display:inline-block;
			li{
				display: inline-block;
				text-align: center;
				padding: 15px;
				position: relative;
				&:before {
					content: "";
					width: 100%;
					height: 2px;
					background-color: #d59f01;
					position: absolute;
					left: 0; bottom: 0px; right: 0;
					@include vendor-prefix('transition','all 0.3s ease-in-out 0s');
					@include vendor-prefix('transform','scaleX(0)');
					visibility: hidden;
				}
				&:hover:before  {
					@include vendor-prefix('transform','scaleX(1)');
					visibility: visible;
				}
				a{
					display: block;
					.user-mark{
						font-size: 24px;
					}
				}
			}
		}
		.user-mark{
			font-weight: bold;
			color: #d59f01;
		}
	}
}



//styles edit profile

.edit-form{
	label{
		text-align: left;
		display: block;
		margin: 20px 0 10px 0;
	}
	.text-input{
		width: 100%;
		padding: 7px;
		font-size: 22px;
		border: 1px solid #D2D9DC;
		@include vendor-prefix('border-radius','5px');
		@include vendor-prefix('box-shadow','inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA');
		&:focus{
			border-color: #c2f1ff;
			@include vendor-prefix('box-shadow', 'inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC');
		}
	}
	.edit-photo-wrapper{
		.edit-photo{
			display: inline-block;
			width: 200px;
			height: 200px;
			background: #000;
			@include vendor-prefix('background-size','cover') ;
		}
		.change-photo{
			display: inline-block;
		}
	}

}
.edit-butt{

	width: 100%;
	padding: 7px;
	font-size: 22px;
	border: 1px solid #d59f01;
	margin-top: 20px;
	background: $buttonbg;
	color: $unhovered;
	@include vendor-prefix('border-radius','5px');
	@include vendor-prefix('box-shadow',' 2px 2px 6px 0px #ebebeb');
	&:hover{
		cursor:pointer;
		color: $onhovered;
	}
}


//error styles
.error-section{
	width: 100%;
	padding: 10px;
	background: #000;
	overflow: hidden;
	position: absolute;
	top: 0;
	.icon-wrapper{
		float: left;
		margin-right: 20px;
		span{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			text-align: center;
			color: red;
		}
	}
	.error-text{
		margin-left: 30px;
		color: white;
		display: inline-block;
	}
}


//styles for dict list
.sec-name{
	@extend .user-name;
}
.service-info{
	display: inline-block;
	margin-bottom: 20px;
	position: relative;
	input{
		padding: 7px;
		font-size: 18px;
		border-radius: 5px;
		border: 1px solid #D2D9DC;
		&:focus{
			border-color: #c2f1ff;
			@include vendor-prefix('box-shadow', 'inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC');
		}
	}
	.submit{
		position: absolute;
		border: none;
		top: 0;
		right: 0;
		width: 28px;
		height: 100%;
		background:url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
		cursor: pointer;
		&:focus{
			border:none;
			@include vendor-prefix('box-shadow', 'none');
		}
	}
}
.dict-list{
	ol{
		counter-reset:li; /* Инициализируем счетчик */
		padding:0; /* Удаляем  установленное по умолчанию левое поле*/
		list-style:none; /* Отменяем нумерацию установленную по умолчанию */
		li{
			position: relative;
			border-bottom: 1px solid #e5e5e5;
			padding: 20px 0 20px 10px;
			font-size: 20px;
			word-wrap: break-word;
			color: #262626;
			&:nth-child(odd){
				background: #e5e5e5;
			}
			&:before{
				content:counter(li); /* В качестве данных используем счетчик */
				counter-increment:li; /* Увеличиваем значение счетчика на 1 */
				/* Позиционируем и оформляем цифры */
				position:absolute;
				top:-2px;
				left:-2em;
				width:2em;
				padding:4px 0;
				border-top:2px solid #666;
				color:#fff;
				background:#666;
				font-weight:bold;
				font-family:"Helvetica Neue", Arial, sans-serif;
				text-align:center;
			}
		}
	}
}
.dict-list-item-wrapper{
	overflow: hidden;
	.about-item-info{
		font-size: 16px;
		text-align: right;
		div{
			span{
				font-weight: bold;
			}
		}
	}
}
//for sort
.sort-container{
	display: inline-block;
	.sort-dropdown{
		padding: 5px 20px 5px 5px;
		width: 250px;
		border-radius: 5px;
		border: 1px solid #D2D9DC;
		font-size: 18px;
		display: inline-block;
		position: relative;
		&:hover{
			cursor:pointer;
		}
		.sort-default{
			border:none;
		}

		.dropdown-icon{
			position: absolute;
			top: 3px;
			right: 5px;
			font-size: 24px;
		}
		#dropdown-list{
			z-index: 101;
			visibility: hidden;
			width: 250px;
			background: #fff;
			position: absolute;
			border: 1px solid #e5e5e5;
			display: inline-block;
			top: 35px;
			left: 0;
			box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.4);
			.dropdown-item{
				border-bottom: 1px solid $bordercolor;
				padding: 10px 5px;
				&:last-child{
					border:none;
				}
			}
		}
	}
}
//for count of elements on the page
.items-count-container{
	@extend .sort-container;
	.count-dropdown{
		@extend .sort-dropdown;
		width: 100px;
	}
	.count-default{
		@extend .sort-default;
	}
	#count-list{
		@extend #dropdown-list;
		width: 100px !important;
		.count-item{
			@extend .dropdown-item;
		}
	}
}


//styles for dictant page
.title{
	font-size: 24px;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 20px;
	color: $titlecolor;
	margin: 0 auto 20px 0;
	letter-spacing: 2px;
}
.warning{
	color: red;
	a{
		color: black;
		cursor: pointer;
		text-decoration: underline;
	}
}
#start-butt{
	width: auto;
}
#timebox{
	display: inline-block;
	margin-left: 20px;
}
input[type='range'] {
    -webkit-appearance: none !important;
	margin:0px;
	padding:0px;
    background: $headercolor;
    height:13px;
	border-bottom:#333 1px solid;
}
input[type='range']::-ms-fill-lower  {
	background:$headercolor;
}
input[type='range']::-ms-fill-upper  {
	background:$headercolor;
}
input[type='range']::-moz-range-track {
	border:none;
    background: $headercolor;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: $headercolor;
    border: 1px solid white;
    height:30px;
    width:7px;
	cursor:pointer;
}
input[type='range']::-moz-range-thumb {
	-webkit-appearance: none !important;
    background: $headercolor;
    border: 1px solid white;
    height:30px;
    width:7px;
	cursor:pointer;
}
input[type='range']::-ms-thumb {
    -webkit-appearance: none !important;
    background: $headercolor;
    border: 1px solid white;
    height:30px;
    width:7px;
	cursor:pointer;
}
#volumeslider{
	margin-left: 20px;
}
.text-field{
	margin-top: 40px;
	textarea{
		padding: 10px;
		resize: none;
		width: 100%;
		min-height: 400px;
		font-size: 20px;
	}
}
.check-butt{
	width: auto;
	display: inline-block;
	float: right;
}