
@import 'mixins/vendor-prefix';
@import 'parts/header';
@import 'parts/auth-window';
@import 'parts/footer';
@import 'variables';

//styles for private cabinet
.wrapper-bg{
	//padding: 40px 0;
	position: relative;
	margin-top: 15px;
	margin-bottom: 15px;
	background: #fff;
	border:2px solid #ebeef3;
	@include vendor-prefix('box-shadow', '3px 3px 5px 0px rgba(0,0,0,0.75)');
	@include vendor-prefix('border-radius','5px');
	.edit-profile{
		position: absolute;
		top: 20px;
		right: 20px;
		color: #b7c2ce;
		&:hover{
			color:black;
			cursor: pointer;
		}
	}
	.user-name{
		font-size: 24px;
		word-wrap: break-word;
		//max-width: 70%;
		color: #262626;
		margin:0 auto 20px 0;
		//text-align: center;
		letter-spacing: 2px;
	}
	.user-photo{
		float: left;
		//margin: auto;
		margin-right: 35px;
		width: 200px;
		background: #242321;
		//@include vendor-prefix('border-radius','200px');
		@include vendor-prefix('box-shadow', '3px 4px 5px 0px rgba(0,0,0,0.75)');
		.user-avatar{
			width: 200px;
			height: 200px;
			max-width: 100%;
			@include vendor-prefix('background-size','cover');
		}
	}
	.user-info{
		float: left;
		font-size: 18px;
		ul{
			display: inline-block;
			li{
				letter-spacing: 1px;
				color: #b7c2ce;
				padding-bottom: 13px;
				.icon-info{
					padding-right: 7px;
				}
				.key{
					margin-left: 5px;
					color: black;
					font-weight: bold;
				}
			}
		}
	}
}



//styles edit profile
.edit-photo-wrapper{
	.edit-photo{
		display: inline-block;
		width: 200px;
		height: 200px;
		background: #000;
		@include vendor-prefix('background-size','cover') ;
	}
	input{
		display: inline-block;
	}
}
.edit-form{
	padding: 10px;
	label{
		font-weight: bold;
		text-align: left;
		display: block;
		margin: 20px 0 10px 0;
	}
	input{
		width: 100%;
		padding: 7px;
		font-size: 22px;
		font-weight: bold;
		border: 1px solid #D2D9DC;
		@include vendor-prefix('border-radius','5px');
		@include vendor-prefix('box-shadow','inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA');
		&:focus{
			border-color: #c2f1ff;
			@include vendor-prefix('box-shadow', 'inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC');
		}
	}
}

