$font:'Roboto', sans-serif;
$menucolor:#e5e5e5;
$regfieldcolor:white;
$bordercolor:#e5e5e5;
$headercolor:linear-gradient(45deg,#333333,#5A5454);
$buttonbg:linear-gradient(#333333 , #5A5454);
$titlecolor: #262626;
$unhovered:#ebeef3;
$onhovered:#fff;