@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

ul li {
  list-style-type: none; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: inherit; }
  a:visited {
    text-decoration: none; }
  a:active {
    text-decoration: none; }

input, button {
  outline: none; }

input[type="search"] {
  -webkit-appearance: none; }

#shadow {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  -webkit-transition: visibility .4s.opacity .4s;
  -moz-transition: visibility .4s.opacity .4s;
  -ms-transition: visibility .4s.opacity .4s;
  -o-transition: visibility .4s.opacity .4s;
  transition: visibility .4s.opacity .4s; }

html, body {
  height: 100%; }

body {
  background: #F2F2F3;
  font-family: "Roboto", sans-serif; }

#preloader {
  position: fixed;
  top: 50%;
  left: calc(50% - 32px);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.main-header {
  padding: 30px 15px 70px;
  overflow: hidden;
  width: 100%;
  background: linear-gradient(45deg, #333333, #5A5454);
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
  -ms-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
  -o-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25); }
  .main-header .main-logo {
    color: white;
    width: 20%;
    text-align: left;
    float: left;
    font-size: 30px;
    font-family: 'Pacifico', cursive; }

.main-menu {
  width: 80%;
  float: left; }
  .main-menu ul li {
    margin-top: 10px;
    color: #e5e5e5;
    font-family: "Roboto", sans-serif;
    display: inline-block; }
    .main-menu ul li a {
      padding: 5px 10px;
      font-size: 20px;
      display: block;
      letter-spacing: 1.5px; }
      .main-menu ul li a:hover {
        background: rgba(0, 0, 0, 0.55);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        color: white; }
  .main-menu .reg-field {
    float: right;
    color: white;
    display: block;
    letter-spacing: 1.5px; }
  .main-menu .private-butt {
    float: right;
    color: white; }

.sandwich {
  display: none;
  float: right; }
  .sandwich div {
    width: 23px;
    height: 3px;
    background: black;
    margin: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px; }

.auth-window {
  padding: 20px;
  font-size: 22px;
  background: #fff;
  border: 2px solid #ebeef3;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  .auth-window .auth-form {
    width: 70%;
    margin: 0 auto; }
  .auth-window .auth-label {
    font-weight: bold;
    text-align: left;
    display: block;
    margin: 20px 0 10px 0; }
  .auth-window .auth-input {
    width: 100%;
    padding: 7px;
    font-size: 22px;
    font-weight: bold;
    border: 1px solid #D2D9DC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA;
    -moz-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA;
    -ms-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA;
    -o-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA;
    box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA; }
    .auth-window .auth-input:focus {
      border-color: #c2f1ff;
      -webkit-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
      -moz-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
      -ms-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
      -o-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
      box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC; }
  .auth-window .forgot-pswd {
    float: right;
    text-align: right;
    margin: 5px 0 20px 0px;
    font-size: 15px; }
    .auth-window .forgot-pswd:hover {
      text-decoration: underline;
      color: black;
      cursor: pointer; }
  .auth-window .rem-me {
    float: left;
    text-align: left;
    margin: 5px 5px 20px 0;
    font-size: 15px; }
    .auth-window .rem-me #auth-checkbox {
      margin: 2px 5px;
      transform: scale(1.3); }
  .auth-window .soc-icon {
    margin: 15px 0;
    text-align: center;
    color: #e5e5e5;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s; }
    .auth-window .soc-icon:hover {
      cursor: pointer;
      color: black; }
  .auth-window .enter-butt {
    margin-top: 45px;
    text-align: right; }
    .auth-window .enter-butt input {
      color: #ebeef3;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      outline: none;
      padding: 12px;
      font-size: 20px;
      background: linear-gradient(#333333, #5A5454);
      border: none;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .auth-window .enter-butt input:hover {
        cursor: pointer;
        color: white;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
        -ms-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
        -o-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75); }
  .auth-window #closeButt, .auth-window #regSection #closeButt1, #regSection .auth-window #closeButt1 {
    color: #e5e5e5;
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 10px; }
    .auth-window #closeButt:hover, .auth-window #regSection #closeButt1:hover, #regSection .auth-window #closeButt1:hover {
      cursor: pointer;
      color: black; }

.auth-section {
  visibility: hidden;
  opacity: 0;
  width: 30%;
  z-index: 20;
  position: absolute;
  top: 50%;
  left: 35%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: visibility .3s,opacity .3s;
  -moz-transition: visibility .3s,opacity .3s;
  -ms-transition: visibility .3s,opacity .3s;
  -o-transition: visibility .3s,opacity .3s;
  transition: visibility .3s,opacity .3s; }

#regSection .enter-butt {
  text-align: center; }

.content {
  min-height: 100%; }

.main-footer {
  overflow: hidden;
  padding: 0 20px;
  width: 100%;
  height: 100px;
  margin-top: -100px;
  background: linear-gradient(45deg, #333333, #5A5454);
  color: white; }
  .main-footer .authors {
    margin-top: 39px; }
    .main-footer .authors a {
      padding: 5px;
      color: #ebeaf0;
      font-size: 18px; }
      .main-footer .authors a:hover {
        color: white;
        text-decoration: underline; }

.content-inside {
  padding-bottom: 100px; }

.wrapper-bg {
  padding: 30px;
  position: relative;
  margin-top: -50px;
  margin-bottom: 15px;
  background: #fff;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
  -ms-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
  -o-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25); }
  .wrapper-bg .edit-profile {
    font-size: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #b7c2ce; }
    .wrapper-bg .edit-profile:hover {
      color: black;
      cursor: pointer; }
  .wrapper-bg .user-name, .wrapper-bg .sec-name {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    font-size: 24px;
    word-wrap: break-word;
    color: #262626;
    margin: 0 auto 20px 0;
    text-align: center;
    letter-spacing: 2px; }
  .wrapper-bg .wrapper-user-info {
    overflow: hidden;
    padding-bottom: 20px; }
    .wrapper-bg .wrapper-user-info .user-photo {
      float: left;
      margin-right: 35px;
      width: 150px;
      background: #242321; }
      .wrapper-bg .wrapper-user-info .user-photo .user-avatar {
        width: 150px;
        height: 150px;
        max-width: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;
        background-size: cover; }
    .wrapper-bg .wrapper-user-info .user-info {
      float: left;
      font-size: 18px; }
      .wrapper-bg .wrapper-user-info .user-info ul {
        display: inline-block; }
        .wrapper-bg .wrapper-user-info .user-info ul li {
          letter-spacing: 1px;
          color: #b7c2ce;
          padding-bottom: 13px; }
          .wrapper-bg .wrapper-user-info .user-info ul li .icon-info {
            padding-right: 7px; }
          .wrapper-bg .wrapper-user-info .user-info ul li .key {
            margin-left: 5px;
            color: black;
            font-weight: bold; }
  .wrapper-bg .user-achievments {
    letter-spacing: 1px;
    color: #D59F53;
    font-size: 18px;
    padding-top: 5px;
    text-align: center;
    border-top: 1px solid #e5e5e5; }
    .wrapper-bg .user-achievments ul {
      display: inline-block; }
      .wrapper-bg .user-achievments ul li {
        display: inline-block;
        text-align: center;
        padding: 15px;
        position: relative; }
        .wrapper-bg .user-achievments ul li:before {
          content: "";
          width: 100%;
          height: 2px;
          background-color: #d59f01;
          position: absolute;
          left: 0;
          bottom: 0px;
          right: 0;
          -webkit-transition: all 0.3s ease-in-out 0s;
          -moz-transition: all 0.3s ease-in-out 0s;
          -ms-transition: all 0.3s ease-in-out 0s;
          -o-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
          -webkit-transform: scaleX(0);
          -moz-transform: scaleX(0);
          -ms-transform: scaleX(0);
          -o-transform: scaleX(0);
          transform: scaleX(0);
          visibility: hidden; }
        .wrapper-bg .user-achievments ul li:hover:before {
          -webkit-transform: scaleX(1);
          -moz-transform: scaleX(1);
          -ms-transform: scaleX(1);
          -o-transform: scaleX(1);
          transform: scaleX(1);
          visibility: visible; }
        .wrapper-bg .user-achievments ul li a {
          display: block; }
          .wrapper-bg .user-achievments ul li a .user-mark {
            font-size: 24px; }
    .wrapper-bg .user-achievments .user-mark {
      font-weight: bold;
      color: #d59f01; }

.edit-form label {
  text-align: left;
  display: block;
  margin: 20px 0 10px 0; }
.edit-form .text-input {
  width: 100%;
  padding: 7px;
  font-size: 22px;
  border: 1px solid #D2D9DC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA;
  -moz-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA;
  -ms-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA;
  -o-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA;
  box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA; }
  .edit-form .text-input:focus {
    border-color: #c2f1ff;
    -webkit-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
    -moz-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
    -ms-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
    -o-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
    box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC; }
.edit-form .edit-photo-wrapper .edit-photo {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.edit-form .edit-photo-wrapper .change-photo {
  display: inline-block; }

.edit-butt {
  width: 100%;
  padding: 7px;
  font-size: 22px;
  border: 1px solid #d59f01;
  margin-top: 20px;
  background: linear-gradient(#333333, #5A5454);
  color: #ebeef3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow:  2px 2px 6px 0px #ebebeb;
  -moz-box-shadow:  2px 2px 6px 0px #ebebeb;
  -ms-box-shadow:  2px 2px 6px 0px #ebebeb;
  -o-box-shadow:  2px 2px 6px 0px #ebebeb;
  box-shadow:  2px 2px 6px 0px #ebebeb; }
  .edit-butt:hover {
    cursor: pointer;
    color: #fff; }

.error-section {
  width: 100%;
  padding: 10px;
  background: #000;
  overflow: hidden;
  position: absolute;
  top: 0; }
  .error-section .icon-wrapper {
    float: left;
    margin-right: 20px; }
    .error-section .icon-wrapper span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      color: red; }
  .error-section .error-text {
    margin-left: 30px;
    color: white;
    display: inline-block; }

.service-info {
  display: inline-block;
  margin-bottom: 20px;
  position: relative; }
  .service-info input {
    padding: 7px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #D2D9DC; }
    .service-info input:focus {
      border-color: #c2f1ff;
      -webkit-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
      -moz-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
      -ms-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
      -o-box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
      box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC; }
  .service-info .submit {
    position: absolute;
    border: none;
    top: 0;
    right: 0;
    width: 28px;
    height: 100%;
    background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
    cursor: pointer; }
    .service-info .submit:focus {
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none; }

.dict-list ol {
  counter-reset: li;
  /* ╨Ш╨╜╨╕╤Ж╨╕╨░╨╗╨╕╨╖╨╕╤А╤Г╨╡╨╝ ╤Б╤З╨╡╤В╤З╨╕╨║ */
  padding: 0;
  /* ╨г╨┤╨░╨╗╤П╨╡╨╝  ╤Г╤Б╤В╨░╨╜╨╛╨▓╨╗╨╡╨╜╨╜╨╛╨╡ ╨┐╨╛ ╤Г╨╝╨╛╨╗╤З╨░╨╜╨╕╤О ╨╗╨╡╨▓╨╛╨╡ ╨┐╨╛╨╗╨╡*/
  list-style: none;
  /* ╨Ю╤В╨╝╨╡╨╜╤П╨╡╨╝ ╨╜╤Г╨╝╨╡╤А╨░╤Ж╨╕╤О ╤Г╤Б╤В╨░╨╜╨╛╨▓╨╗╨╡╨╜╨╜╤Г╤О ╨┐╨╛ ╤Г╨╝╨╛╨╗╤З╨░╨╜╨╕╤О */ }
  .dict-list ol li {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 0 20px 10px;
    font-size: 20px;
    word-wrap: break-word;
    color: #262626; }
    .dict-list ol li:nth-child(odd) {
      background: #e5e5e5; }
    .dict-list ol li:before {
      content: counter(li);
      /* ╨Т ╨║╨░╤З╨╡╤Б╤В╨▓╨╡ ╨┤╨░╨╜╨╜╤Л╤Е ╨╕╤Б╨┐╨╛╨╗╤М╨╖╤Г╨╡╨╝ ╤Б╤З╨╡╤В╤З╨╕╨║ */
      counter-increment: li;
      /* ╨г╨▓╨╡╨╗╨╕╤З╨╕╨▓╨░╨╡╨╝ ╨╖╨╜╨░╤З╨╡╨╜╨╕╨╡ ╤Б╤З╨╡╤В╤З╨╕╨║╨░ ╨╜╨░ 1 */
      /* ╨Я╨╛╨╖╨╕╤Ж╨╕╨╛╨╜╨╕╤А╤Г╨╡╨╝ ╨╕ ╨╛╤Д╨╛╤А╨╝╨╗╤П╨╡╨╝ ╤Ж╨╕╤Д╤А╤Л */
      position: absolute;
      top: -2px;
      left: -2em;
      width: 2em;
      padding: 4px 0;
      border-top: 2px solid #666;
      color: #fff;
      background: #666;
      font-weight: bold;
      font-family: "Helvetica Neue", Arial, sans-serif;
      text-align: center; }

.dict-list-item-wrapper {
  overflow: hidden; }
  .dict-list-item-wrapper .about-item-info {
    font-size: 16px;
    text-align: right; }
    .dict-list-item-wrapper .about-item-info div span {
      font-weight: bold; }

.sort-container, .items-count-container {
  display: inline-block; }
  .sort-container .sort-dropdown, .items-count-container .sort-dropdown, .items-count-container .count-dropdown {
    padding: 5px 20px 5px 5px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #D2D9DC;
    font-size: 18px;
    display: inline-block;
    position: relative; }
    .sort-container .sort-dropdown:hover, .items-count-container .sort-dropdown:hover, .items-count-container .count-dropdown:hover {
      cursor: pointer; }
    .sort-container .sort-dropdown .sort-default, .items-count-container .sort-dropdown .sort-default, .items-count-container .count-dropdown .sort-default, .sort-container .sort-dropdown .items-count-container .count-default, .items-count-container .sort-dropdown .count-default, .items-count-container .count-dropdown .count-default {
      border: none; }
    .sort-container .sort-dropdown .dropdown-icon, .items-count-container .sort-dropdown .dropdown-icon, .items-count-container .count-dropdown .dropdown-icon {
      position: absolute;
      top: 3px;
      right: 5px;
      font-size: 24px; }
    .sort-container .sort-dropdown #dropdown-list, .items-count-container .sort-dropdown #dropdown-list, .items-count-container .count-dropdown #dropdown-list, .sort-container .sort-dropdown .items-count-container #count-list, .items-count-container .sort-dropdown #count-list, .items-count-container .count-dropdown #count-list {
      z-index: 101;
      visibility: hidden;
      width: 250px;
      background: #fff;
      position: absolute;
      border: 1px solid #e5e5e5;
      display: inline-block;
      top: 35px;
      left: 0;
      box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.4); }
      .sort-container .sort-dropdown #dropdown-list .dropdown-item, .items-count-container .sort-dropdown #dropdown-list .dropdown-item, .items-count-container .count-dropdown #dropdown-list .dropdown-item, .sort-container .sort-dropdown .items-count-container #count-list .dropdown-item, .items-count-container .sort-dropdown #count-list .dropdown-item, .items-count-container .count-dropdown #count-list .dropdown-item, .items-count-container #count-list .sort-dropdown #dropdown-list .count-item, .items-count-container #count-list .count-dropdown #dropdown-list .count-item, .sort-container .sort-dropdown .items-count-container #count-list .count-item, .items-count-container .sort-dropdown #count-list .count-item, .items-count-container .count-dropdown #count-list .count-item {
        border-bottom: 1px solid #e5e5e5;
        padding: 10px 5px; }
        .sort-container .sort-dropdown #dropdown-list .dropdown-item:last-child, .items-count-container .sort-dropdown #dropdown-list .dropdown-item:last-child, .items-count-container .count-dropdown #dropdown-list .dropdown-item:last-child, .sort-container .sort-dropdown .items-count-container #count-list .dropdown-item:last-child, .items-count-container .sort-dropdown #count-list .dropdown-item:last-child, .items-count-container .count-dropdown #count-list .dropdown-item:last-child, .items-count-container #count-list .sort-dropdown #dropdown-list .count-item:last-child, .items-count-container #count-list .count-dropdown #dropdown-list .count-item:last-child, .sort-container .sort-dropdown .items-count-container #count-list .count-item:last-child, .items-count-container .sort-dropdown #count-list .count-item:last-child, .items-count-container .count-dropdown #count-list .count-item:last-child {
          border: none; }

.items-count-container .count-dropdown {
  width: 100px; }
.items-count-container #count-list {
  width: 100px !important; }

.title {
  font-size: 24px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
  color: #262626;
  margin: 0 auto 20px 0;
  letter-spacing: 2px; }

.warning {
  color: red; }
  .warning a {
    color: black;
    cursor: pointer;
    text-decoration: underline; }

#start-butt {
  width: auto; }

#timebox {
  display: inline-block;
  margin-left: 20px; }

input[type='range'] {
  -webkit-appearance: none !important;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(45deg, #333333, #5A5454);
  height: 13px;
  border-bottom: #333 1px solid; }

input[type='range']::-ms-fill-lower {
  background: linear-gradient(45deg, #333333, #5A5454); }

input[type='range']::-ms-fill-upper {
  background: linear-gradient(45deg, #333333, #5A5454); }

input[type='range']::-moz-range-track {
  border: none;
  background: linear-gradient(45deg, #333333, #5A5454); }

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: linear-gradient(45deg, #333333, #5A5454);
  border: 1px solid white;
  height: 30px;
  width: 7px;
  cursor: pointer; }

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none !important;
  background: linear-gradient(45deg, #333333, #5A5454);
  border: 1px solid white;
  height: 30px;
  width: 7px;
  cursor: pointer; }

input[type='range']::-ms-thumb {
  -webkit-appearance: none !important;
  background: linear-gradient(45deg, #333333, #5A5454);
  border: 1px solid white;
  height: 30px;
  width: 7px;
  cursor: pointer; }

#volumeslider {
  margin-left: 20px; }

.text-field {
  margin-top: 40px; }
  .text-field textarea {
    padding: 10px;
    resize: none;
    width: 100%;
    min-height: 400px;
    font-size: 20px; }

.check-butt {
  width: auto;
  display: inline-block;
  float: right; }

/*# sourceMappingURL=main.css.map */
